
<%- include('partials/head.ejs') %>

<body>
    
    <header>
        <h1>Home Page</h1>
        <br>
    </header>
    <h1>My Favorite Comics</h1><br>
    <main>
        <form action="/comic/new">
            <button class="btn btn-primary"> Add Comic </button>
        </form><br>
        <% for (let i = 0; i < comics.length; i++) { %>
            <a href="/comicInfo?comicName=<%= comics[i].comicSiteName %>">
            <%= comics[i].comicSiteName %> </a> <br>
            <a
            href="<%= comics[i].comicSiteUrl%>"><%= comics[i].comicSiteUrl%></a><br>
          <% } %><br>


            <!--  Here we add a place for the image id pointing to js-->
            <img id="comic-image" src="<%= image.comicUrl %>" alt="Random Comic"><br>
            <!--  Here we add a place for the name  id pointing to js-->
            <h4 id="comic-name"><%= image.comicSiteName %></h4>
     
              <!-- outside form -->
            <div><button id="random" class="btn btn-success"> Display Random Comic </button> </div><br>
    
    
    
    
        </main>

        <table class="rubic" border="1" width="600" cellpadding="10px">
            <tbody>
              <tr>
                <th>#</th>
                <th>Task Description</th>
                <th>Points</th>
              </tr>
              <tr style="color:rgb(0, 255, 98)">
                <td>1</td>
                <td>The <strong>Home</strong> page lists all comic names and clickable links to their  corresponding websites from the "fe_comics_site" table. <br></td>
                <td width="20" align="center">30</td>
              </tr>
              <tr style="color:red">
                <td>2</td>
                <td>The <strong>Home</strong> page displays a random comic strip retrieved from the "fe_comics" table, with its corresponding comic name <br></td>
                <td width="20" align="center">25</td>
              </tr>
              <tr style="color:red">
                <td>3</td>
                <td>The <strong>Home</strong> page includes a "Display Random Comic" button to display a  random comic and its name without reloading the page (using a Web API)<br></td>
                <td width="20" align="center">30</td>
              </tr>
              <tr style="color:red">
                <td>4</td>
                <td>The <strong>Add Comic</strong> page allows user to add a new comic to the database. The values for the 'Web Site' dropdown menu come from database.<br></td>
                <td width="20" align="center">30</td>
              </tr>
              <tr style="color:red">
                <td>5</td>
                <td>The <strong>Comic</strong> page lists all comic strips from the 'fe_comics' table for the Comic Name clicked on from the Home page. It should also include the comic title <br></td>
                <td width="20" align="center">30</td>
              </tr>
              <tr style="color:red">
                <td>6</td>
                <td>The <strong>Comic</strong> page displays   "View Comments" links below each comic strip. Use a Modal Window and a Web API to display all comments for each comic. <br>
                </td>
                <td width="20" align="center">30</td>
              </tr>
              <tr style="color:red">
                <td>7</td>
                <td>The <strong>Add Comment</strong> page displays the comic strip to add comments to, along with its title.<br></td>
                <td width="20" align="center">20</td>
              </tr>
              <tr style="color:red">
                <td>8</td>
                <td>The <strong>Add Comment</strong> page allows users to add a comment to the comic strip selected.<br></td>
                <td width="20" align="center">20</td>
              </tr>
              <tr style="color:red">
                <td>9</td>
                <td>Your submission has a nice style using Bootstrap or CSS in an external file with at least 10 properties.</td>
                <td width="20" align="center">10</td>
              </tr>
              <tr style="color:red">
                <td>10</td>
                <td>This rubric is properly included and updated.</td>
                <td width="20" align="center">2</td>
              </tr>
              
              <tr>
                <td></td>
                <td>TOTAL </td>
                <td width="20" align="center">227</td>
              </tr>
            </tbody>
          </table>

        


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <%- include('partials/footer.ejs') %>
</body>

</html>